//Fonts
$mainFont: 'Poppins', sans-serif;;
$secondFont: 'Raleway', sans-serif;

//Colors
$bgColorMain: rgba(255, 112, 88, 0.05);
$bgColorSecond: #FF7058;

$prmtColor: #94959A;
$secondColor: #120D26;

//Container Size
$container: 131.5rem;

