.footer {
	&__wrapper {
		display: flex;
		padding: 5.37% 0 7.16% 0;
		@media(max-width:670px){
			flex-wrap: wrap;
			row-gap: 3rem;
		}
	}

	&__menu {
		margin-right: 16.11%;
	}

	&__menu-title {
		@extend %titleS;
		margin-bottom: 1.54em;
	}

	&__menu-list {
	}

	&__menu-item {
		font-size: 1.8rem;
		line-height: calc(27 / 18);
		letter-spacing: 0.01em;
		font-weight: 600;
		color: $bgColorSecond;
		margin-bottom: 1em;
	}

	&__contacts-title {
		@extend %titleS;
		margin-bottom: 1.54em;
	}

	&__contacts-list {
	}

	&__contacts-item {
		font-size: 1.8rem;
		line-height: calc(27 / 18);
		letter-spacing: 0.01em;
		font-weight: 600;
		color: $bgColorSecond;
		margin-bottom: 1em;
	}

	&__contacts-link {
	}

	&__global {
		z-index: 10;
		position: relative;
		font-size: 1.8rem;
		max-height: 5.3rem;
		line-height: calc(25 / 18);
		font-weight: 500;
		letter-spacing: 0.01em;
		color: #29253c;
		padding: 1.4rem 11.5rem 1.4rem 1.4rem;
		box-shadow: 0px 10px 20px rgba(241, 102, 24, 0.15);
		background-color: #fff;
		border-radius: 8px;
		cursor: pointer;
		transition: .3s;
		&.active::after {
			transform: rotate(180deg);
		}
		&::after {
			position: absolute;
			content: "";
			width: 2.4rem;
			height: 2.4rem;
			right: 1.4rem;
			background: url("./images/footer/arrow.svg") no-repeat center;
		}
		&.active{
			box-shadow: none;
		}

	}
}
.footer {
	&__accordion {
		margin-left: auto;
		overflow: hidden;
	}

	&__global-list {
		//height: 0;
		transform: translateY(-110%);
		//visibility: hidden;
		padding: 3rem 1.4rem 1.4rem 1.4rem;
		transition: 0.2s linear;
		&.active {
			//height: 100%;
			//visibility: visible;
			transform: translateY(0);
		}
		
	}

	&__global-item {
		font-size: 1.4rem;
		margin-bottom: 1em;
		color: $bgColorSecond;
		font-weight: 500;
	}

	&__global-link {
	}
}

.footer_menu-link {
}
.footer_contacts {
	margin-right: 16.11%;
}
