

.pricing {
	&__title-block {
		text-align: center;
		background: rgba(255, 112, 88, 0.05);
		padding: 4.3rem 1rem 5.3rem 1rem;
	}

	&__title {
		@extend %titleM;
		margin-bottom: 0.5em;
	}

	&__subtitle {
		max-width: 128.5rem;
		margin: 0 auto;
		@media (max-width: 472px){
			font-size: 1.6rem;			
		}

	}

	&__offers {
		padding: 3.74% 0 11.28% 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		//display: flex;
		//justify-content: space-between;
		gap: 4.6rem;
		@media(max-width:472px){
			grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
		}
	}
}
.offers {
	&__item {
		box-shadow: 0px 10px 55px rgba(241, 102, 24, 0.15);
		border-radius: 15px;
		padding: 8.84% 13.13%;
		height: max-content;
		@media (max-width: 472px){
			padding: 6.84% 8.13%;
		}

	}

	&__item-price {
		@extend %titleM;
		text-align: center;
		margin-bottom: 0.55em;
		span {
			font-size: 1.8rem;
			line-height: calc(26 / 18);
			font-weight: 600;
			letter-spacing: 0.01em;
			color: $prmtColor;
		}
	}

	&__item-title {
		font-size: 3.6rem;
		line-height: calc(54 / 36);
		font-weight: 600;
		color: $bgColorSecond;
		text-align: center;
		margin-bottom: 0.61em;
		@media (max-width: 472px){
			font-size: 3rem;
		}

	}

	&__item-subtitle {
		text-align: center;
		color: $prmtColor;
		padding-bottom: 1.1em;
		border-bottom: 2px solid #f2f2f2;
		@media (max-width: 472px){
			font-size: 1.6rem;
		}

	}

	&__item-list {
		padding-block: 1.35em;
	}

	&__item-btn {
		display: flex;
		width: 100%;
		padding: 1.53em;
		justify-content: center;
		@media (max-width: 472px){
			padding: 1.2em;
		}

	}
}
.offers-list {
	&__item {
		position: relative;
		font-weight: 500;
		color: #29253c;
		padding-left: 2.75em;
		&::before {
			position: absolute;
			content: "";
			width: 2.1em;
			height: 2.1em;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			background: url("./images/offers/ellipse.svg") center no-repeat;
			@media (max-width: 472px){
				background-size: contain;
			}
		}
		@media (max-width: 472px){
			font-size: 1.6rem;
			
			}
	}
	&__item:not(:last-child) {
		margin-bottom: 1.45em;
		@media (max-width: 472px){
			margin-bottom: 1em;
		}
	}
}