@import './style/global';


.about {

	&__wrapper {
		display: flex;
		justify-content: space-between;
		padding: 3.2% 0 6.4% 0;
		align-items: center;
		@media (max-width: 1024px){
			padding: 12% 0 6.4% 0;
		}
		@media (max-width: 940px){
			flex-direction: column;
			gap: 3rem;
			padding: 16rem 0 8rem 0;
		}

	}

	&__content {
		flex: 1 1 50%;
		padding-right: 2rem;
		@media (max-width: 940px){
			text-align: center;
			padding-right: 0;
		}

	}

	&__title {
		position: relative;
		@extend %titleMain;
		margin-bottom: 0.27em;
		&::before {
			z-index: -1;
			position: absolute;
			content: "";
			top: -15rem;
			left: -28rem;
			width: 44.9rem;
			height: 42rem;
			background: url("./images/header-bottom/spot.png") no-repeat;
			
		}
	}

	&__text {
		color: $prmtColor;
		margin-bottom: 1em;
		max-width: 27.5em;
		@media (max-width: 940px){
			font-size: 1.8rem;
		}
		@media (max-width: 472px){
			font-size: 1.6rem;
		}
	}

	&__btn {
		padding: 1.25em 2.17em ;
		@media (max-width: 472px){
			font-size: 1.6rem;
		}

	}
	&__image{
		position: relative;
		&::before{
			position: absolute;
			content: '';
			width: 11.5rem;
			height: 11.6rem;
			background: url('./images/about-page/top/points.png') no-repeat;
			bottom: -3.6rem;
			left: -4.5rem;
			@media (max-width: 790px){
				display: none;
			}
		}
	}
	&__image-wrapper {
		position: relative;
		max-width: 62.2rem;
		flex: 1 1 50%;
		border-radius: 1.2rem;
		overflow: hidden;
	}
}
//------------------------------happening

.happening {
	background-color: $bgColorMain;
	@media(max-width:940px){
		margin-bottom: 10rem;
	}

	&__wrapper{
		padding: 4.7% 0 8.9% 0;
	}

	&__title {
		@extend %titleM;
		margin-bottom: 1.8em;
		text-align: center;
	}

	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
		gap: 3%;
	}

	&__item {
		background: #fff;
		padding: 5.3% 6.3%;
		box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
		border-radius: 15px;
	}
}

.happening-item {
	display: grid;
	grid-template: max-content max-content 1fr auto / 1fr;

	&__img {
		border-radius: 6px;
		overflow: hidden;
		margin-bottom: 1.3rem;
	}

	&__title {
		font-size: 3.6rem;
		line-height: calc(54 / 36);
		font-weight: 600;
		color: $secondColor;
		margin-bottom: 0.333em;
		@media(max-width:472px){
			font-size: 2.8rem;
		}

	}

	&__text {
		color: #3C3E56;
		margin-bottom: 2.5em;
		@media(max-width:472px){
			font-size: 1.8rem;
		}
	}

	&__date {
		@media(max-width:472px){
			font-size: 1.6rem;
		}
	}
}

